.DraftEditor-root {
    width: 900px;
    max-width: 100%;

    height: calc(100vh - 100px - 80px);

    background: #ededed;

    padding: 3em;
    margin: 20px auto;

    font-family: 'PT Serif', serif;
    font-size: 1.5em;
    letter-spacing: -0.01em;
    line-height: 1.65;
    color: #242424;
}